.adres-crab {
  div.placeholder-container {
    margin: 0;
    border: none;

    label {
      width: 30%;
    }
  }

  .copy-button {
    margin-left: 5px;
  }

  .free-search-link {
    margin-left: 8px;
    width: fit-content;
    color: #0075db;
    &:hover {
      text-decoration: none;
      color: #0075db;
    }
    &:focus {
      color: #0075db;
    }
  }
}
