auteur-widget {
  .auteur-toevoegen {
    &-grid-container {
      margin-bottom: 2rem;

      & .ag-body-viewport.ag-layout-auto-height {
        overflow-y: auto;
        height: 300px
      }

      &-actions {
        a:first-child {
          margin-right: 1rem;
        }
      }
    }

    &-dialog {
      max-width: 1000px;
      width: 95vw;

     .eigenaar-vermogensrecht-footer-text {
      text-align: start !important;
      padding: 0px 16px 16px 16px;
     }
    }
  }

  .float-right {
    float: right;
  }

  .ag-checkbox-input {
    // Fixes clickable checkboxes
    height: 100% !important;
  }
}
