.domein-strategie-legende-dialog {
  background-color: rgb(89, 89, 89);
  color: white;

  .row {

    &-eenzijdig-snappen,
    &-tweezijdig-snappen,
    &-exacte-overnemen,
    &-uitsluiten {
      padding-bottom: 1rem;
    }
  }
}
