<template>
  <require from="openlayers/dist/ol.css"></require>

  <div ref="mapnode" class="map">
    <div class="geolocation ol-unselectable ol-control" if.bind="buttonConfig.zoomGeoLocation">
      <button title="Zoom naar je geolocatie" click.delegate="geoLocationClick()"></button>
    </div>
    <div class="zoom-switcher ol-unselectable ol-control" if.bind="buttonConfig.zoomSwitcher">
      <button class="zoomButton" title="Ga naar het Geoportaal" click.delegate="zoomButtonClick()">
        <i class="fa fa-globe"></i>
      </button>
    </div>
  </div>
  </div>
  <div class="${isCollapsed ? 'sidebar-collapsed' : 'sidebar'}" if.bind="!disabled">  
      <div>
        <a class="collapse-icon" click.delegate="isCollapsed = !isCollapsed"><i class="fa fa-lg fa-list"></i></a>
        <h4 class="collapse-title" if.bind="!isCollapsed">Zone samenstellen</h4>
      </div>  
      <div if.bind="!isCollapsed">
        <div class="toevoegen-aan">
          <h5>Toevoegen aan zone</h5>
          <a click.delegate="!isDrawing ? startDrawZone('Polygon') : toggleDrawZone(false)">
            <span if.bind="!isDrawing"><i class="fa fa-pencil"></i> Teken polygoon</span>
            <span else><i class="fa fa-ban"></i> Annuleer tekenen</span>
          </a>
          <a click.delegate="!isDrawingCircle ? startDrawZone('Circle') : toggleDrawZone(false)">
            <span if.bind="!isDrawingCircle"><i class="fa fa-pencil"></i> Teken cirkel</span>
            <span else><i class="fa fa-ban"></i> Annuleer tekenen</span>
          </a>
          <a click.delegate="!selectPerceel ? startPerceelSelect() : resetSelect()">
            <span if.bind="!selectPerceel"><i class="fa fa-hand-pointer-o"></i> Selecteer perceel</span>
            <span else><i class="fa fa-ban"></i> Annuleer perceel</span>
          </a>
          <a click.delegate="importAdrespunten()" if.bind="adrespunten && adrespunten.length > 0">
            <span><i class="fa fa-link"></i> Neem over van adrespunten</span>
          </a>
          <div class="row collapse">
            <div class="small-9 columns">
              <input type="text" value.bind="WKTstring" placeholder="WKT string (Lambert72)">
            </div>
            <div class="small-3 columns">
              <button class="button tiny postfix" title="Plaats" click.delegate="drawWKTzone(WKTstring)">Plaats</button>
            </div>
          </div>
        </div>
        <div class="toegevoegde-zones" show.bind="geometryObjectList.length > 0">
          <h4>Toegevoegde zones</h4>
          <ul>
            <li repeat.for="geometryObject of geometryObjectList">
              <div class="small-10 columns">
                ${geometryObject}
              </div>
              <div class="small-2 columns">
                <i click.delegate="removeGeometryObject(geometryObject)" class="fa fa-trash"></i>
              </div>
            </li>
          </ul>
        </div>
    </div>
  </div>
</template>
