<template>
  <require from="openlayers/dist/ol.css"></require>
  <require from="./ol-map.css"></require>
  <require from="./referentielaag-map.css"></require>
  <require from="./referentielaag-autocorrectie"></require>
  <require from="./layerswitcher.css"></require>

  <div ref="mapnode" class="referentielaag-node" id="referentielaag-map"></div>
   <referentielaag-autocorrectie
    results-updated.call="resultsUpdated($event)" zone.two-way="zone"
    align-grb.bind="alignGrb" laatst-gealigneerd.two-way="laatstGealigneerd"
    ></referentielaag-autocorrectie>
</template>
