<template>
  <require from="./referentielaag-map"></require>

  <ux-dialog class="oe-dialog" style="height: 70vh;">
    <ux-dialog-header show-close-button.bind="true">
      <h3>
        Vergelijk zone met referentielaag
      </h3>
    </ux-dialog-header>

    <ux-dialog-body>
      <p>
        Deze functionaliteit laat toe om de geometrie van de zone automatisch te verleggen op naburige grenzen van een
        referentielaag. <strong>Door de 'relevante afstand'-schuifbalk te verplaatsen</strong>, zal de geometrie van de
        zone zich automatisch aanpassen. Contacteer je GIS beheerder indien de gewenste geometrie niet bekomen kan
        worden via deze tool.
      </p>
      <referentie-laag-map zone.bind="zone" button-config.bind="buttonConfig" layer-config.bind="layerConfig">
      </referentie-laag-map>
    </ux-dialog-body>
  </ux-dialog>
</template>
