multi-select-extended {
  .multi-input-container {
    display: flex;

    .multi-input-icon {
      min-width: 45px;
      text-align: center;
      padding: 12px;
      border-left: 1px solid #d5d5d5;
      cursor: pointer;
      height: 100%;
    }
  }

  .multi-input-list {
    list-style: none;
    padding: 8px 20px 8px 8px;
    border-top: 1px solid #d5d5d5;
    margin: 0;

    li {
      font-size: 14px;
      border-bottom: 1px dashed #d5d5d5;
      color: #3f3840;
      line-height: 2em;

      .multi-input-remove {
        float: right;
        cursor: pointer;
        color: darkgray;
        padding-top: 8px;
      }
    }
  }
}
