@import  '../../assets/styles/pyoes/oe-settings';
@import '../../../node_modules/primer-tooltips/index.scss';

.copy-icon {
  cursor: pointer;
  
  &.fa.fa-check {
    color: $success-color;
  }

  &-container {
    margin: 0;
    text-decoration: none;
    display: inline-block;
    padding: 0;
    background-color: white;
    border-color: unset;
    color: inherit;
    transition: none;
    display: inline-block;
    &:hover {
      background-color: white !important;
      color: inherit !important;
    }
    &:focus {
      background-color: white !important;
      color: inherit !important;
      border: none;
      outline: none;
    }
  }
}
