.copyrightLink {
  display: inline-block;
  height: 17px;
  margin-bottom: -4px;
  text-decoration: none;
}

.locatie-content {
  position: relative;
  @include flex(1 1 auto);
  @include flexbox();

  .map-container {
    @include flex(1 1 auto);
    @include flexbox();
    background-color: aliceblue;

    .map {
      border: 1px solid $gray;
      width: 100%;
      min-height: 0;
      position: absolute;
      top: 0;
      bottom: 0;
    }

    .ol-control button {
      background-color: rgba(45, 163, 206, 0.7);
      z-index: 2;
    }
    .ol-scale-line {
      background-color: rgba(45,163,206,0.8);
    }
  }

  autocomplete {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid rgba(255,255,255,0.4);
    border-radius: 4px;
    width: 300px;

    input[type="text"] {
      margin: 0;
      border: 1px solid rgba($fresh-blue, 0.4);
    }

    &:before {
      color: $fresh-blue;
    }

  }

  .sidebar {
    width: 250px;
    background: $white;
    padding: 15px;
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border: 1px solid rgba($fresh-blue, 0.4);
    @include flexbox();
    @include flex-flow(column);

    a {
      display: block;
      color: $fresh-blue;
    }

    .toegevoegde-zones {
      @include flexbox();
      @include flex-flow(column);
      border-top: 1px solid $gray;
      overflow: auto;
      
      ul {
        @include flex(1 1 auto);
        margin: 0;
        list-style: none;

        li {
          font-weight: bold;
          color: $black;
          
          i {
            color: $primary-color;
          }
        }
      }
    }
  }
}